@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1>Input Urls here</h1>
    <div>
        <textarea rows="10" cols="45" id="urls"></textarea>
    </div>
    <div>
        <button id="get-data-button">Получить информацию</button>
    </div>
    <partial name="WebSitesResponseTable" />
</div>

