<table style="width:100%">
    <thead>
        <tr>
            <th>Url</th>
            <th>Title</th>
            <th>Response code</th>
        </tr>
    </thead>
    <tbody id="sites-response" >

    </tbody>
</table>